// Navbar border
.v-toolbar__content {
  border-bottom: 1px solid rgb(77, 0, 128) !important;
}

.styles-dig-bg {
  background-image: url("../../public/img/background.png");
  background-size: cover;
  background-position-x: 50%;
  height: 100% !important;
}
