// Navbar border
.v-toolbar__content {
  border-bottom: 1px solid rgb(77, 0, 128) !important;
}

.styles-dig-bg {
  background-image: url("../../public/img/background.png");
  background-size: 100% 100% !important;
  background-attachment: fixed;
}

.v-carousel  {
  max-height: 370px;
}

.v-carousel__controls {
  display: none !important;
}